<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="../../../admin/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../../../admin/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  {{!-- <link href="../../../admin/css/style.min.css" rel="stylesheet"> --}}
  <link href="../../../admin/css/style.css" rel="stylesheet">
  <!-- JQuery -->
  <script type="text/javascript" src="../../../admin/js/jquery-3.4.1.min.js"></script>
</head>

<body class="grey lighten-3">

  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/">
          <strong class="blue-text">EL INTERNACIONAL</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            {{!-- <li class="nav-item active">
              <a class="nav-link waves-effect" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="">About
                MDB</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href=""
                >Free
                download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="">Free
                tutorials</a>
            </li> --}}
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="https://www.facebook.com/" class="nav-link waves-effect" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://twitter.com/" class="nav-link waves-effect" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            {{# if login }}
          <li class="nav-item">
            <a href="/cerrar-sesion" class="nav-link border border-light rounded">
              <i class="fa fa-window-close mr-2"></i>Cerrar Sesión
            </a>
          </li>
          {{ else }}
          <li class="nav-item">
            <a href="" class="nav-link border border-light rounded" data-toggle="modal" data-target="#modalLoginForm">
              <i class="fa fa-user mr-2"></i>Iniciar Sesion
            </a>
          </li>
          {{/if}}
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

      <a class="logo-wrapper waves-effect">
        <img src="/img/logoMenu.png" class="img-fluid" alt="Logo">
      </a>

      <div class="list-group list-group-flush">
        {{# ifCond tipo "restaurante" }}
          <a href="/{{rutaBase}}escritorio" class="list-group-item active waves-effect">
          <i class="fas fa-chart-pie mr-3"></i>Escritorio
        </a>
        <a href="/{{rutaBase}}lista-restaurantes" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-table mr-3"></i>Restaurantes</a>
        <a href="/{{rutaBase}}items" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-table mr-3"></i>Items</a>
          <a href="/{{rutaBase}}perfil" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Perfil</a>
        {{!-- <a href="#" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-map mr-3"></i>Maps</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-money-bill-alt mr-3"></i>Ordenes</a> --}}
        {{/ifCond  }}

        {{# ifCond tipo "delivery" }}
        <a href="#" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-money-bill-alt mr-3"></i>Ordenes Disponibles</a>
          <a href="#" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-money-bill-alt mr-3"></i>Ordenes Aceptadas</a>
        {{/ifCond  }}
      </div>

    </div>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5 caja">
      {{{ body }}}
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/" target="_blank">
        <i class="fab fa-google-plus mr-3"></i>
      </a>

      <a href="https://dribbble.com/" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © {{ year }} Copyright:
      <a href="/" target="_blank"> El Internacional </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../../admin/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../../admin/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../../admin/js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>

 {{!-- <!-- Charts -->
  <script> ...

  </script> 
  <!--Google Maps-->
  <script src="https://maps.google.com/maps/api/js"></script>
  </script>  --}}
</body>

</html>